
body.sidebar-toggled footer.sticky-footer {
    width: 100%;
  }
  label.is-invalid {color: #dc3545;}
  .jq-toast-wrap {
    width: auto !important;
    min-width: 250px !important;
    max-width: 350px !important;
  }
  .py-50 {
    padding:9% 0 !important;
  }
  .py-40 {
    padding:5% 0 !important;
  }
  .email-services li.active,
  .email-services li:hover{
    background-color: #0563bb;
    color: #ffffff;
  }
  
  .form-control.is-invalid {
    margin-bottom: 0 !important;
}
.jq-toast-wrap { 
    width:auto !important;
    min-width: 250px !important;
    max-width: 350px !important;
}
.fa-fw{
    font-size: 1.5em;
}
.text-facebook,
.text-google{
    position: relative;
    top: -2px;
}
  .email-services li {
    padding: 5px 15px;
    cursor: pointer;
  }
  .email-services.show{
    opacity: 1 !important;
    z-index: 10 !important;
    margin-top: 0.1em;
  }
  .email-services {
    position: absolute;
    opacity: 0;
    z-index: -1;
    background: #f8f9fc;
    width: 465px;
    max-height: 170px;
    overflow-y: auto;
    overflow-x: hidden;
    /* top: 206px; */
    margin-top: 2em;
    border-radius: 18px;
    transition: all ease-in-out 0.2s;
  }
  .email-services::-webkit-scrollbar {
    width: 0.5em;
  }
  .email-services::-webkit-scrollbar-track {
    background-color: lightgray;
    border-radius: 8px;
      /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  }
  .email-services::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: darkgrey;
  }
  
.abcRioButtonBlue:active {
  background-color: #3367d6;
}

.abcRioButtonBlue, .abcRioButtonBlue:hover {
  background-color: #4285f4;
}

.abcRioButton:hover {
  box-shadow: 0 0 3px 3px rgb(66 133 244 / 30%);
}

.abcRioButtonBlue {
  border: none;
  color: #fff;
}
.abcRioButtonBlue .abcRioButtonIcon {
  background-color: #fff;
  border-radius: 1px;
}

.abcRioButtonContents {
  font-family: Roboto,arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .21px;
  margin-left: 6px;
  margin-right: 6px;
  color: #FFFFFF !important;
  vertical-align: top;

}
.abcRioButtonIcon {
  float: left;
}


.abcRioButtonContentWrapper {
  height: 100%;
  width: 100%;
}
.abcRioButton {
  border-radius: 1px;
  border:#4285f4 solid 1px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  -webkit-user-select: none;
  -webkit-appearance: none;
  background-color: #4285f4;
  background-image: none;
  color: #262626;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  width: auto;
}

.rounded-quarter {
  border-radius: 3rem !important;
}
body{
  background-color: #f8f9fc;
}
.urp_header nav {
  margin: 0.25em 1rem;
  border-radius: 25px;
}
.urp_header nav ul {

  background-color: transparent  ;
  
}
@media screen and (min-width : 767px) {
  .urp_header nav {
    margin: 0;
    border-radius: 0px;
  }
}