.social-box i {
    position: absolute;
    left: 0.75em;
}
.social-box input {
    text-indent: 2.25rem;
    margin-bottom: 0.5em;
}
.form-group label {
    font-weight: 600;
}
.form-group label span {
    font-weight: normal !important;
}
.dz-preview {
    height: 100%;
    width: auto;
    padding: 8px;
}
img {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}
.dropzone.has-file {
    border-color: rgb(175 255 175) !important;
}
.dropzone {
    display: flex;
    justify-content: center;
    height: 350px;
    border: #4e73df dashed 4px;
    cursor: pointer;
    flex-direction: column-reverse;
    text-align: center;
}
.dropzone .dropzone-message {
    margin: 25% 0;
    text-align: center;
    display: block;
    color: #4e73df;
}
.dropzone-message.lg {
    font-size: 36px;
}
.dropzone-message.md {
    font-size: 28px;
}
.dropzone-message.sm {
    font-size: 18px;
}
label.dropzone.dropzone-remove {
    border-color: #ff7575;
}
.dropzone.dropzone-remove .dropzone-message {
    color: #ff7575;
}
.iti.iti--allow-dropdown {
    width: 100%;
}
label.dropzone label.is-invalid {
    display: none !important;
}
label.is-invalid-file {
    color: #f96363;
}

ul#skills-names {
    cursor: pointer;
    width: auto;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
#skills-names li {
    cursor: pointer;
    display: inline-flex;
    background: rgb(13 57 185);
    border-radius: 18px;
    padding: 8px 15px;
    color: #fff;
    margin: 0.25em 0 0 0.25em;
    flex: 0 0 32%;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
}
thead.thead-blue th {
    padding: 0.35em 0.25em;
}

thead.thead-blue {
    background: #4e73df;
    color: #fff;
    /* padding: 11px; */
}
.select2-results__group {
    text-transform: capitalize !important;
}
#skills-table tr {
    cursor: move;
}
.reorder-message.show {
    top: 54px;
    opacity: 1;
}
.reorder-message {
    text-transform: none;
    background: #45c745;
    padding: 6px 15px;
    color: #ffffff;
    position: absolute;
    top: 105px;
    right: 50px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.skills-list {
    max-height: 400px;
    overflow: auto;
    border: #ccc solid 1px;
    background: #ffffff;
}
.range-wrap {
    position: relative;
}
.range {
    width: 100%;
}
.range-wrap:hover .bubble {
    display: inline !important;
}
.bubble {
    background: #0075ff;
    color: white;
    top: -21px;
    padding: 2px 8px;
    position: absolute;
    border-radius: 4px;
    left: 0;
    z-index: 1;
    transform: translateX(-0);
}
.bubble::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 8px;
    background: #99c8ff;
    top: 28px;
}
span.re-order-icon.skills-reorder {
    position: relative;
    top: 3px;
}
span.re-order-icon.skills-reorder svg path {
    fill: #8e8e8e;
}
.select2.select2-container {
    width: 100% !important;
}
.spinner-border.spinner-border-xl {
    height: 4rem;
    width: 4rem;
}
.spinner-border.spinner-border-lg {
    height: 3rem;
    width: 3rem;
}
.spinner-border.spinner-border-md {
    height: 2rem;
    width: 2rem;
}
div#icons-wrapper {
    padding: 15px;
    max-height: 600px;
    overflow: auto;
    overflow-x: hidden;
}
.choose-icon.active i,
.choose-icon:hover i {
    position: absolute;
    color: #4e73df;
    transform: scale(1.5) !important;
    transition: all 0.1s ease-in-out;
    left: 0;
    right: 0;
}
.choose-icon {
    cursor: pointer;
}
.choose-icon i {
    font-size: 25px;
    color: #939393;
}
span.icon-wrapper {
    font-size: 30px;
}

#icons-wrapper::-webkit-scrollbar {
    width: 0.25em;
}
#icons-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#icons-wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: darkgrey;
    outline: 1px solid slategrey;
}
.tooltip {
    pointer-events: none;
  }
  span.capsule-shape {
    background: transparent;
    padding: 8px 15px;
    position: relative;
    top: 5px;
    border-radius: 18px;
}
ul#skills-names li i {
    position: relative;
    top: 4px;
    right: 5px;
}
.change-icon{
    text-decoration: none !important;
}
.single-wrap{
    border-radius: 0;
    border: none;
}
.single-wrap:nth-child(even){
    background-color: white;
}
.single-wrap:nth-child(odd){
    background-color: rgba(104, 104, 104, 0.239);
    color: #272727;
}
.single-wrap .card-body .form-control{
    background-color: rgb(239 239 239);
    border:none;
    resize: none;
}
.single-wrap .delete-button {
    float: right;
    position: relative;
    top: 0;
    background: #ff7575;
    padding: 9px 15px;
    border-radius: 50%;
    text-align: center;
    color: #FFF;
    right: 0;
}
.single-wrap .card-body input.form-control{
    height: 30px;
}
.single-wrap .card-body{
    padding: 8px;
}
.single-wrap .card-footer {
    padding: 4px 10px;
    background-color: transparent;

}
.single-wrap .card-header {
    padding: 0px 15px;
    font-weight: bold  !important;
}
.experience-wrapper,
.education-wrapper{
    scroll-behavior: smooth;
    max-height: 475px;
    overflow-x: auto;
    overflow-y:auto;
    /* box-shadow:#ccc 1px 1px 10px; */
    border:#ccc solid 1px;
}
#portfolio_images::-webkit-scrollbar ,
.experience-wrapper::-webkit-scrollbar ,
.education-wrapper::-webkit-scrollbar {
    width: 0.5em;
}
#portfolio_images::-webkit-scrollbar ,
.experience-wrapper::-webkit-scrollbar-track ,
.education-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#portfolio_images::-webkit-scrollbar-thumb  ,
.experience-wrapper::-webkit-scrollbar-thumb  ,
.education-wrapper::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: darkgrey;
}
span.saved, 
span.saving {
    position: relative;
    top: 3px;
    right: 10px;
}
.arrow-btn:hover i {
    position: relative;
    left: -5px;
    transition: all 0.2s ease-in-out !important;
}
.dropzone.portfolio-images-wrapper .dz-preview{
    height: auto;
}
.dropzone.portfolio-images-wrapper #portfolio_images{
    max-height: 380px;
    overflow-y: auto;
}
.dropzone.portfolio-images-wrapper{
    height: 380px;
}
.porfolio-image-cover.active {
    border: #273a70 solid 4px !important;
    border-radius: 8px;
}
.porfolio-image-cover {
    padding: 8px;
    cursor: pointer;
}
.row.portfolio_cover_images {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.porfolio-sort-image:hover img {
    opacity: 0.6;
}
.porfolio-sort-image {
    cursor: move;
}